<div id="splash">
    <div id="splash_logo">
    <%= image_tag "assets/logo.png" alt="" class="fadeUp"%>
    </div>
</div>


<body>
    <div class="first-block">
        <div class="moji1">
            aaaaaaaaaa<br>
              SKIN DIAGNOSIS
        </div>
        <div class="slide">
            <%= image_tag "sskin1.jpg" alt=""%>
            <%= image_tag "sskin2.jpg" alt=""%>
            <%= image_tag "sskin3.jpg" alt=""%>
            
        </div> 
    </div>

  <div class="botan">
        <%= link_to "診断を始める", new_sindan_path, class: "link" %>
  </div>

  <div class="moji2">
     ABOUT US
  </div>

  <div class="second-block">
     <p class="abaut">
            自分の肌質って本当は何？<br>
            肌に合ったケアを行うために、<br>
            まずは自分の肌タイプを知ることから始めましょう！
      </p>

            <%= image_tag "skin2.jpg", class:"two" %>   
    </div>
  


  <div class="third-block">
        <div class="futu">
         <%= link_to kuwasiku1_path do %>
            <div class="fadeUpTrigger">
                <%= image_tag "futu.png", class:"futu2" %>
                <p>普通肌</p>
            </div>
         <% end %>
    
        </div>

        <div class="sisei">
         <%= link_to kuwasiku2_path do %>
            <div class="fadeUpTrigger">
                <%= image_tag "sisei.png", class:"sisei2" %>
                <p>脂性肌</p>
            </div>
         <% end %>
        </div>

        <div class="kanso">
         <%= link_to kuwasiku3_path do %>
            <div class="fadeUpTrigger">
                <%= image_tag "kanso.png", class:"kanso2" %>
                <p>乾燥肌</p>
            </div>
         <% end %>
        </div>

        <div class="kongou">
         <%= link_to kuwasiku4_path do %>
            <div class="fadeUpTrigger">
                <%= image_tag "kongou.png", class:"kongou2" %>
                <p>混合肌</p>
            </div>
         <% end %>
        </div>
       
    </div>
<!--  コンテンツはここまで  -->

  <footer>	
  </footer>
</body>

<!--==============JQuery読み込み===============-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/4-1-4/js/4-1-4.js"></script>



<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/3-2-3-1/js/3-2-3-1.js"></script>